@model FarmaciaAvellaneda.Models.Venta

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container d-flex flex-column bg-gradient-cyan text-gray-dark mt-4 mb-4 rounded shadow">

    <h1>Details</h1>

    <div>
        <h4>Venta</h4>
        <hr />
        <dl class="p-5 d-flex flex-column bg-white rounded shadow">
            <dt>
                @Html.DisplayNameFor(model => model.FechaVenta)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.FechaVenta)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Total)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Total)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Estado)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Estado)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Empleado)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Empleado.UserId)
            </dd>
        </dl>
    </div>
    <div>
        <a class="btn btn-default btn-outline-primary " asp-action="Edit" asp-route-id="@Model.Id">Editar</a> |
        <a class="btn btn-outline-dark btn-danger mb-4" asp-action="Index">Volver</a>
    </div>
</div>