@model FarmaciaAvellaneda.Models.LineaVenta

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>LineaVenta</h4>
    <hr />
    <dl class="p-5 d-flex flex-column bg-white rounded shadow">
        <dt>
            @Html.DisplayNameFor(model => model.Subtotal)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Subtotal)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Cantidad)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Cantidad)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Producto)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Producto.Id)
        </dd class>
        <dt>
            @Html.DisplayNameFor(model => model.Venta)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Venta.Id)
        </dd class>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a class="btn btn-outline-dark btn-danger mb-4" asp-action="Index">Volver</a>
    </form>
</div>
