@model FarmaciaAvellaneda.Models.DetalleLiquidacion

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>DetalleLiquidacion</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Unidad)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Unidad)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Haber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Haber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Concepto)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Concepto.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Liquidacion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Liquidacion.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
