@model FarmaciaAvellaneda.Models.Liquidacion

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Liquidacion</h4>
    <hr />
    <dl class="p-5 d-flex flex-column bg-white rounded shadow">
        <dt>
            @Html.DisplayNameFor(model => model.FechaDesde)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FechaDesde)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.FechaHasta)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FechaHasta)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SalarioNeto)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SalarioNeto)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PeriodoLiquidacion)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PeriodoLiquidacion)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Estado)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Estado)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TotalRemunerado)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TotalRemunerado)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TotalDeduccion)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TotalDeduccion)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Empleado)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Empleado.UserId)
        </dd>
    </dl>
</div>
<div>
    <a class="btn btn-default btn-outline-primary " asp-action="Edit" asp-route-id="@Model.Id">Editar</a> |
    <a class="btn btn-outline-dark btn-danger mb-4" asp-action="Index">Volver</a>
</div>
